@import "./normalize.css";
@import "./variable.scss";

.dashboard__card { height: 12rem; width: 18rem; padding: 0 .5rem; display: flex; flex-direction: column; justify-content: space-between; border-radius: 10px; padding-bottom: 1rem;
    &.--done{ background-color: $DoneColor; }
    &.--not-done{ background-color: $toDoColor; }
}
.card__options { height: fit-content; display: flex; justify-content: space-between; font-size: $x-small; }
.options__expiration{
    &::before { content: "expire le : "; }
}
.options__priority{ 
    &::before { content: "priorité : "; }
}
.card__title { margin: .2rem 0 .5rem; }
.card__content { height: 4rem; width: 90%; margin: 0 auto; }
// ig it doesn't work without !important, where might be the conflict though? ¯\_(ツ)_/¯
.content__textarea { height: 100% !important; width: 100% !important; overflow: hidden; resize: none; height: 5rem; border-radius: 10px; border: none; outline: none; }
.card__commands { display: flex; flex-wrap: wrap; justify-content: center; gap: .2rem; }
.commands__icon { height: 1rem; }