.main-div {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.to-signup {
    margin-top: 30px;
}